

<div class="container">
    <div class="row">
        <div class="col">
            {{ titulo }} <br>
            <p>
                TypeScript (TS) es un lenguaje de programación construido a un nivel superior de JavaScript (JS). Esto quiere decir que TypeScript dota al lenguaje de varias características adicionales que hacen que podamos escribir código con menos errores, más sencillo, coherente y fácil de probar, en definitiva, más limpio y sólido.
            </p>
        </div>
    </div>
</div>